{% extends 'home/index.html' %}
{% load static %}
{% block title %}
    <title>Applicant Profile</title>
{% endblock %}
{% block js %}

{% endblock %}
{% block body %}
    <div class="ui container">
        <div class="ui segment">
            <img class="ui centered small circular image" src="{% static 'images/user.png' %}">
            <h5 class="ui header">USER NAME: {{ instances.email|upper }}</h5>
            <button onclick="changesPasswordPopUp()" class="ui basic button"><i class="unlock alternate icon"></i>CHANGES
                PASSWORD
            </button>
            <button onclick="changesPasswordPopUp()" class="ui basic button"><i class="arrow circle down icon"></i>DOWNLOAD
                CERTIFICATE
            </button>
        </div>
        <div class="ui modal" id="profileChangesPassword">
            <i class="close icon"></i>
            <div class="header">
                Changes Password
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="{% static 'images/forgot.svg' %}">
                </div>
                <div class="description">
                    <form method="post" id="ChangesPasswordForm"> {% csrf_token %}
                        <input required type="hidden" value="{{ instances.userID.pk }}" id="userIds" name="userIds">
                        <div class="ui header">OLD PASSWORD:</div>
                        <div class="ui input">
                            <input type="text" placeholder="Enter Old Password" id="oldPassword" name="oldPassword">
                        </div>
                        <div class="ui header">NEW PASSWORD:</div>
                        <div class="ui input">
                            <input required type="text" placeholder="Enter New Password" id="newPassword" name="newPassword">
                        </div>
                        <div class="ui header">RETYPE NEW PASSWORD:</div>
                        <div class="ui input">
                            <input required type="text" placeholder="Re-Enter New Password" id="reEnterNewPassword"
                                   name="reEnterNewPassword">
                        </div>
                    </form>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <button class="ui positive right labeled icon button" onclick="ChangesPasswordSubmit()">
                    Confirm
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        function changesPasswordPopUp() {
            $('#profileChangesPassword')
                .modal('show')
            ;
        }

        function ChangesPasswordSubmit() {
            var oldPassword1 = $('#oldPassword').val();
            var newPassword1 = $('#newPassword').val();
            var reEnterPassword1 = $('#reEnterNewPassword').val();
            var userIds1 = $('#userIds').val();
            if (newPassword1 !== reEnterPassword1) {
                $('body')
                    .toast({
                        class: 'warning',
                        title: 'Password Not Match',
                        message: 'Please Try Again',
                        showProgress: 'bottom',
                        classProgress: 'red',
                        position: 'top center',

                    })
                ;
            }
            else {
                var form_data = new FormData();
                form_data.append('oldPassword1', oldPassword1);
                form_data.append('newPassword1', newPassword1);
                form_data.append('userIds1', userIds1);
                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:applicantChangesPasswordApiView" %}',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    title: 'PASSWORD',
                                    message: 'Successfully Changes',
                                    showProgress: 'bottom',
                                    classProgress: 'red',
                                    position: 'top center',

                                });
                        }
                        else if (response.message === 'notMatch') {
                            $('body')
                                .toast({
                                    class: 'error',
                                    title: 'Old Password Not Match',
                                    message: 'Please try again.',
                                    showProgress: 'bottom',
                                    classProgress: 'grey',
                                    position: 'top center',

                                });

                        }
                        else if (response.message === 'error') {
                            $('body')
                                .toast({
                                    class: 'error',
                                    title: 'Error',
                                    message: 'Please try again.',
                                    showProgress: 'bottom',
                                    classProgress: 'grey',
                                    position: 'top center',

                                });

                        }
                        else {
                            $('body')
                                .toast({
                                    class: 'warning',
                                    title: 'Something Went Wrong.',
                                    message: 'Please try again.',
                                    showProgress: 'bottom',
                                    classProgress: 'red',
                                    position: 'top center',

                                });
                        }

                    },
                    error: function (e) {

                        console.log(e);
                    }
                });
            }
        }
    </script>
{% endblock %}
{% block mainBody %}
{% endblock %}