{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    {% block title %}
        <title>Homepage - Nursing Home and Clinic</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    {% block commonCss %}
        <style type="text/css">

            .hidden.menu {
                display: none;
            }

            .masthead.segment {
                min-height: 700px;
                padding: 1em 0em;
            }

            .masthead .logo.item img {
                margin-right: 1em;
            }

            .masthead .ui.menu .ui.button {
                margin-left: 0.5em;
            }

            .masthead h1.ui.header {
                margin-top: 3em;
                margin-bottom: 0em;
                font-size: 4em;
                font-weight: normal;
            }

            .masthead h2 {
                font-size: 1.7em;
                font-weight: normal;
            }

            .ui.vertical.stripe {
                padding: 8em 0em;
            }

            .ui.vertical.stripe h3 {
                font-size: 2em;
            }

            .ui.vertical.stripe .button + h3,
            .ui.vertical.stripe p + h3 {
                margin-top: 3em;
            }

            .ui.vertical.stripe .floated.image {
                clear: both;
            }

            .ui.vertical.stripe p {
                font-size: 1.33em;
            }

            .ui.vertical.stripe .horizontal.divider {
                margin: 3em 0em;
            }

            .quote.stripe.segment {
                padding: 0em;
            }

            .quote.stripe.segment .grid .column {
                padding-top: 5em;
                padding-bottom: 5em;
            }

            .footer.segment {
                padding: 5em 0em;
            }

            .secondary.pointing.menu .toc.item {
                display: none;
            }

            @media only screen and (max-width: 700px) {
                .ui.fixed.menu {
                    display: none !important;
                }

                .secondary.pointing.menu .item,
                .secondary.pointing.menu .menu {
                    display: none;
                }

                .secondary.pointing.menu .toc.item {
                    display: block;
                }

                .masthead.segment {
                    min-height: 350px;
                }

                .masthead h1.ui.header {
                    font-size: 2em;
                    margin-top: 1.5em;
                }

                .masthead h2 {
                    margin-top: 0.5em;
                    font-size: 1.5em;
                }
            }


        </style>
    {% endblock %}
    {% block css %}

    {% endblock %}
    {% block commonJs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

        <script>
            $(document)
                .ready(function () {

                    // fix menu when passed
                    $('.masthead')
                        .visibility({
                            once: false,
                            onBottomPassed: function () {
                                $('.fixed.menu').transition('fade in');
                            },
                            onBottomPassedReverse: function () {
                                $('.fixed.menu').transition('fade out');
                            }
                        })
                    ;

                    // create sidebar and attach to menu open
                    $('.ui.sidebar')
                        .sidebar('attach events', '.toc.item')
                    ;

                })
            ;
        </script>
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item" href="{% url 'homeApp:index' %}" style="padding: 0">
            <img src="{% static 'images/logo.png' %}" alt="" style="width: 50px">
        </a>
        <a class="active item" href="{% url 'homeApp:index' %}">Home</a>
        {% if request.user.is_authenticated %}
            <a class="item" href="{% url 'homeApp:registrationformA' %}">Apply New</a>
            <a class="item" href="{% url 'homeApp:applicantDashboard' %}">Applicant Dashboard</a>
            <a class="item" href="{% url 'homeApp:applicantProfile' %}">Applicant Profile</a>
        {% endif %}
        <div class="right menu">

            {% if request.user.is_authenticated %}
                <div class="item">
                    <a class="ui primary button" href="{% url 'homeApp:logout_user' %}">Logout</a>
                </div>
            {% else %}
                <div class="item" onclick="loginModalBtn()">
                    <a class="ui button">Log in / Sign Up</a>
                </div>
            {% endif %}

        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item" href="{% url 'homeApp:index' %}">
        <img src="{% static 'images/logo.png' %}" alt="" style="width: 50px;">
    </a>
    <a class="item" href="{% url 'homeApp:index' %}">Home</a>
    {% if request.user.is_authenticated %}
        <a class="item" href="{% url 'homeApp:registrationformA' %}">Apply New</a>
        <a class="item" href="{% url 'homeApp:applicantDashboard' %}">Applicant Dashboard</a>
        <a class="item"  href="{% url 'homeApp:applicantProfile' %}">Applicant Profile</a>
    {% endif %}
    {% comment %}
         <a class="item" onclick="loginModalBtn()">Login In / Signup</a>
    {% else %}
    <a class="item" href="{% url 'homeApp:logout_user' %}">Logout</a>
    {% endif %}{% endcomment %}
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" >

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>

                <a class="active item" href="{% url 'homeApp:index' %}" style="padding: 0">
                    <img src="{% static 'images/logo.png' %}" alt="" style="width: 50px;">
                </a>
                <a class="active item" href="{% url 'homeApp:index' %}">Home</a>
                {% if request.user.is_authenticated %}
                    <a class="item" href="{% url 'homeApp:registrationformA' %}">Apply New</a>
                    <a class="item" href="{% url 'homeApp:applicantDashboard' %}">Appicant Dashboard</a>
                    <a class="item"  href="{% url 'homeApp:applicantProfile' %}">Appicant Profile</a>
                {% endif %}
                <div class="right item">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'homeApp:logout_user' %}" class="ui inverted button">Logout</a>
                    {% else %}
                        <a class="ui inverted button" onclick="loginModalBtn()">Log in / Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block body %}
            <div class="ui text container" >
                <h1 class="ui inverted header">
                    Directorate Of Health Services, Manipur.
                </h1>
                <h2>Nursing Home and Clinic Registration.</h2>

                <a href="#Details" class="ui huge primary button">Read More <i class="right arrow icon"></i></a>

            </div>
        {% endblock %}
    </div>
    {% block mainBody %}
        <div class="ui vertical stripe segment" id="Details">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui header">Manipur Nursing Homes and Clinics Registration Act, 1992 & Rules, 1993 and
                            Procedures for Fresh registration of Nursing homes, Maternity homes and Clinics in the state
                            of Manipur.</h3>
                        <p>1. Intending persons shall make an application to the Supervising Authority (Director of
                            Health Services) for registration in the prescribed ‘FORM-A’ at least one month before the
                            date of carrying on a nursing home or clinic.</p>
                        <p>2. All the mandatory documents, type of nursing home or clinic, Facilities Applied, relevant
                            central and state guidelines on State Pollution Control Board, Bio-Medical Waste Disposal,
                            (PC)PNDT certificate, AERB Authorization, EPF scheme application, NOC Fire Service Dept
                            shall be submitted as given in Checklist.</p>
                        <p>3. Applicant shall submit registration fees as under:
                        <ul>
                            <li>a. Rs. 2000/- plus Rs. 30/- per bed per year for a clinic or nursing home having bed not
                                more than 10.
                            </li>
                            <li>b. Rs. 2000/- plus Rs. 50/- per bed per year for a clinic or nursing home having 10-50
                                bed.
                            </li>
                            <li>c. Rs. 2000/- plus Rs. 75/- per bed per year for a clinic or nursing home having more
                                than 50 bed.
                            </li>
                        </ul>

                        </p>
                        <p>4. Submitted documents will be checked for any deficiency. If there is any, the applicant
                            will be informed.</p>
                        <p>5. An inspection team including the Additional Director (MC), Deputy Director (MC) and the
                            concerned Specialists from the Manipur Health Services, formed under the Supervising
                            Authority will inspect the clinic or nursing home in respect of manpower, facilities
                            applied, infrastructures, provisions of facilities and services, record keeping etc.</p>
                        <p>6. The inspection team will submit the inspection report for recommendation of suitability
                            and feasibility for registration of the clinic or nursing home to the Supervising
                            Authority.</p>
                        <p>7. The Supervising Authority (Director of Health Service) if satisfied that all the
                            conditions including the provisions of facilities and services as specified in Rule 15 are
                            fulfilled, the applicant is registered in respect of the nursing home or clinic and issue
                            the certificate in FORM-B signed by him.
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui header">Documents required for registration</h3>
                        <p>1. Forwarding letter to the Director of Health Services</p>
                        <p>2. Academic Qualification Certificates & Registration Certificates (MMC for doctors and MNC
                            for nurses)</p>
                        <p>3. Rent affidavit from the land owner /Copy of Patta, if the applicant owns the land.</p>
                        <p>4. Method of Bio-Medical Waste Disposal/ Certificate from CBWTF.</p>
                        <p>5. MPCB Consent to operate/establish, Authorization certificate.</p>
                        <p>6. AERB Authorization for X-Ray, CT-Scan & MRI installation.</p>
                        <p>7. (PC) PNDT certificate from FW dept. for USG installation.</p>
                        <p>8. Certificate for Non-Forfeiture of Original Certificates of the staffs</p>
                        <p>9. Fire Safety System adopted including escape door, stairs, signage etc. No Objection
                            Certificate from the Fire Service Dept.</p>
                        <p>Schematic diagram of floor wise rooms with labeling.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui header">Documents required for registration</h3>
                        <p>1. Forwarding letter to the Director of Health Services</p>
                        <p>2. Academic Qualification Certificates & Registration Certificates (MMC for doctors and MNC
                            for nurses)</p>
                        <p>3. Rent affidavit from the land owner /Copy of Patta, if the applicant owns the land.</p>
                        <p>4. Method of Bio-Medical Waste Disposal/ Certificate from CBWTF.</p>
                        <p>5. MPCB Consent to operate/establish, Authorization certificate.</p>
                        <p>6. AERB Authorization for X-Ray, CT-Scan & MRI installation.</p>
                        <p>7. (PC) PNDT certificate from FW dept. for USG installation.</p>
                        <p>8. Certificate for Non-Forfeiture of Original Certificates of the staffs</p>
                        <p>9. Fire Safety System adopted including escape door, stairs, signage etc. No Objection
                            Certificate from the Fire Service Dept.</p>
                        <p>Schematic diagram of floor wise rooms with labeling.</p>
                    </div>

                </div>
            </div>
        </div>

         <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui header">Manipur Nursing Homes and Clinics Registration Act, 1992 & Rules, 1993 and Procedures for Renewal of registration of Nursing homes, Maternity homes and Clinics in the state of Manipur.</h3>
                        <p>1. Application for renewal shall be submitted to the Supervising Authority (Director of Health Services) in the month of January, i.e. two months prior to the expiry of registration in ‘FORM D’ for every three years.</p>
                        <p>2. All the mandatory documents, Facilities Applied (addition), renewed certificates on State Pollution Control Board, Bio-Medical Waste Disposal, (PC)PNDT certificate, AERB Authorization, EPF scheme application, NOC from Fire Service Dept. if any shall be submitted as given in the renewal Checklist.</p>
                        <p>3. Applicant shall submit registration renewal fees as under:
                        <ul>
                        <li>a. Renewal fee shall be Rs. 1000/- plus Rs. 60/- per bed per year for three years.</li>
                    </ul>
                        </p>
                        <p>4. Submitted documents will be checked for any deficiency. If there is any, the applicant will be informed.</p>
                        <p>5. An inspection team including the Additional Director (MC), Deputy Director (MC) and the concerned Specialists from the Manipur Health Services, formed under the Supervising Authority will inspect the clinic or nursing home in respect of manpower, facilities applied/continued, infrastructures, provisions of facilities and services, record keeping etc.</p>
                        <p>6. The inspection team will submit the inspection report for recommendation of suitability and feasibility for renewal of registration of the clinic or nursing home to the Supervising Authority.</p>
                        <p>7. The Supervising Authority (Director of Health Services) if satisfied that all the conditions including the provisions of facilities and services as specified in Rule 15 are fulfilled, the registration in respect of the nursing home or clinic is renewed and issue the certificate in FORM-B signed by him.</p>

                    </div>

                </div>
            </div>
        </div>

                <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="sixteen wide column">
                        <h3 class="ui header">All the mandatory documents</h3>
                        <p>1. Facilities Applied (addition).</p>
                        <p>2. Renewed certificates on State Pollution Control Board.</p>
                        <p>3. Bio-Medical Waste Disposal.</p>
                        <p>4. (PC)PNDT certificate, AERB Authorization.</p>
                        <p>5. EPF scheme application.</p>
                        <p>6. NOC from Fire Service Dept.</p>

                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">

                <div class="three wide column">
                    <a href="{% url 'homeApp:adminLogin' %}" class="item">Admin Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="ui modal tiny" id="LoginRegister">
    <i class="close icon"></i>
    <div class="ui grid very padded" id="loginDiv">
        <div class="sixteen wide mobile six wide mobile six wide computer column ">
            <h3 class="ui header">
                Login
                {% comment %}
                <div class="sub header"><p>Get access to your Orders, Wishlist and Recommendations</p></div>
{% endcomment %}
            </h3>


            <img loading="lazy" class="ui centered medium image" src="{% static 'images/login.svg' %}">


        </div>
        <div class="sixteen wide mobile ten wide tablet ten wide computer column">
            <form class="ui form" id="loginForm">{% csrf_token %}
                <div class="field">
                    <label>Enter Email</label>
                    <input type="text" name="email" placeholder="Email" id="loginEmail">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" id="loginPassword">
                </div>
                {% comment %}<div class="field">
                    <span onclick="forgotModalBtn()" class="ui label text violet" style="cursor: pointer">Forgot Password?</span>
                </div>{% endcomment %}

                <button class="ui button orange fluid" type="button" onclick="LoginCustomer()">Login</button>

            </form>
        </div>

    </div>
    <div class="ui grid very padded" style="display: none" id="registerDiv">
        <div class="sixteen wide mobile six wide mobile six wide computer column ">
            <h3 class="ui header">
                Looks like you're new here!
                <div class="sub header"><p>Sign up with your Email to get started</p></div>
            </h3>


            <img loading="lazy" class="ui centered medium image" src="{% static 'images/login.svg' %}">


        </div>
        <div class="sixteen wide mobile ten wide tablet ten wide computer column">
            <form class="ui form" id="registerForm">
                <div class="field">
                    <label>Enter Email</label>
                    <input type="text" name="emailR" placeholder="Email" id="registerEmail">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="passwordR" placeholder="Password" id="registerPassword">
                </div>
                <div class="field">
                    <label>Confirm Password</label>
                    <input type="password" name="passwordRc" placeholder="Confirm Password"
                           id="registerPasswordConfirm">
                </div>
                {% comment %}             <div class="fields">
                    <div class="nine wide field">
                        <label>OTP</label>
                        <input type="number" name="OTP" id="OTP" placeholder="Enter OTP">
                    </div>
                    <div class="seven wide field">
                        <label>Verify E-mail <span class=" ui text red" id="time"></span></label>

                        <button class="ui button teal" id="otpBtn" type="button" onclick="GetOTP()">Get OTP</button>
                    </div>
                </div>{% endcomment %}
                <button class="ui button orange fluid" type="button" onclick="CreateCustomer()">Register</button>
            </form>
        </div>

    </div>
    <div class="ui horizontal divider">
        Or
    </div>
    <div class="ui grid padded center aligned">
        <div class="sixteen wide column centered" id="registerBtn" onclick="loginNregister('register')">
            <a class="ui button fluid"> New ? Create an account</a>

        </div>
        <div class="sixteen wide column centered" style="display: none" id="loginBtn" onclick="loginNregister('login')">
            <a class="ui button fluid"> Existing user? Log in</a>

        </div>
    </div>

</div>

<script>

    function loginModalBtn() {

        $('#LoginRegister').modal('show');
        loginNregister('login');

    }
    function loginNregister(q) {
        if (q == 'register') {
            $('#registerDiv').css('display', 'flex');
            $('#loginBtn').css('display', 'flex');
            $('#loginDiv').css('display', 'none');
            $('#registerBtn').css('display', 'none');
        }
        else {
            $('#registerDiv').css('display', 'none');
            $('#loginBtn').css('display', 'none');
            $('#loginDiv').css('display', 'flex');
            $('#registerBtn').css('display', 'flex');
        }

    }

    function CreateCustomer() {
        var email = $('#registerEmail').val();
        var password = $('#registerPassword').val();
        var cpassword = $('#registerPasswordConfirm').val();
        {#            var OTP = $('#OTP').val();#}
        var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();


        if (email !== '' && password !== '' && cpassword !== '') {
            if (password.length > 7 && password === cpassword) {

                var form_data = new FormData();
                form_data.append('Email', email);
                form_data.append('Password', password);
                {#                    form_data.append('OTP', OTP);#}
                $.ajax({
                    type: 'post',
                    url: '{% url "homeApp:register_applicant" %}',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,

                    success: function (response) {
                        if (response.message === 'success') {
                            $('body')
                                .toast({
                                    class: 'success',
                                    title: 'Account Created Successfully.',
                                    message: 'Welcome!',
                                    showProgress: 'bottom',
                                    classProgress: 'red',
                                    position: 'top center',

                                });
                            $('#LoginRegister').modal('hide');
                            $('#registerForm').trigger("reset");
                        }
                        else if (response.message === 'alreadyExist') {
                            $('body')
                                .toast({
                                    class: 'error',
                                    title: 'User Already Exist.',
                                    message: 'Please try log in.',
                                    showProgress: 'bottom',
                                    classProgress: 'grey',
                                    position: 'top center',

                                });

                        }
                        else {
                            $('body')
                                .toast({
                                    class: 'warning',
                                    title: 'Something Went Wrong.',
                                    message: 'Please try again.',
                                    showProgress: 'bottom',
                                    classProgress: 'red',
                                    position: 'top center',

                                });
                        }

                    },
                    error: function (e) {

                        console.log(e);
                    }
                });

            }
            else {
                $('body')
                    .toast({
                        class: 'warning',
                        title: 'Fields Requires',
                        message: 'Please make sure password length is at least 7 character long and password is matched correctly.',
                        showProgress: 'bottom',
                        classProgress: 'red',
                        position: 'top center',

                    })
                ;
            }
        }
        else {
            $('body')
                .toast({
                    class: 'warning',
                    title: 'Fields Requires',
                    message: 'Please fill all the details correctly.',
                    showProgress: 'bottom',
                    classProgress: 'red',
                    position: 'top center',

                })
            ;
        }
    }

    function LoginCustomer() {
        var email = $('#loginEmail').val();
        var password = $('#loginPassword').val();
        var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
        if (email !== '' && password !== '') {
            var form_data = new FormData();
            form_data.append('username', email);
            form_data.append('password', password);
            $.ajax({
                type: 'post',
                url: '{% url "homeApp:login_applicant" %}',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,

                success: function (response) {
                    if (response.message === 'success') {
                        $('body')
                            .toast({
                                class: 'success',
                                title: 'Login Successful.',
                                message: 'Welcome!',
                                showProgress: 'bottom',
                                classProgress: 'red',
                                position: 'top center',

                            });
                        $('#LoginRegister').modal('hide');
                        location.reload(true);


                    }
                    else if (response.message === 'fail') {
                        $('body')
                            .toast({
                                class: 'error',
                                title: 'Wrong Credential.',
                                message: 'Please try again.',
                                showProgress: 'bottom',
                                classProgress: 'grey',
                                position: 'top center',

                            });

                    }
                    else {
                        $('body')
                            .toast({
                                class: 'warning',
                                title: 'Invalid Credential.',
                                message: 'Please try again.',
                                showProgress: 'bottom',
                                classProgress: 'red',
                                position: 'top center',

                            });
                    }

                },
                error: function (e) {

                    console.log(e);
                }
            });
        }
        else {
            $('body')
                .toast({
                    class: 'warning',
                    title: 'Fields Requires',
                    message: 'Please fill Email and Password.',
                    showProgress: 'bottom',
                    classProgress: 'red',
                    position: 'top center',

                })
            ;
        }


    }

</script>


</body>


</html>
